{% extends 'base.html' %}

{% block title %}About |
{% endblock title %}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/about.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3>About Me!</br>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Hello World!</h2>
    <p class="lead">My name is Pratik Tiwari and I am a data and development enthusiast. I am from Surat, Gujarat but
      living in Pune now. Sometimes i create machine learning models to solve problems , sometimes i create  website, apps and usually i like to  play with data.</p>
    <p class ="lead">Problem solving and building a solution have always been something i am excited about. I can work on many data
      science related tools and technologies and can also work as a full stack developer. </p>
    <p class="lead">Story telling have always been a major part of my life hence I like to emphasize it through both my
      professional and personal work. I do photography and videography as a hobbie. My Instagram and youtube pages are
      in the personal section.</p>
    <p class = "lead"> For my linkedin and github profile please visit the professional section</p>
  </div>
</div>
{% endblock body %}